/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .phone-item > h2{font-size: 25px;}
    .product_menu.product_menu_1 > a {right: 91px;}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
     .main_menu ul li a {padding: 10px 15px;}
    .machin_text > p, .machin_img1 > p {letter-spacing: 0;}
    .machin_img2 {padding: 0;}
    .product_menu_1 p, .product_menu_1 ul {padding-left: 30%;}
    .product_menu ul li {padding: 0;}
    .product_menu ul li a img {width: 25px;}
    .product_menu.product_menu_1 > a {bottom: -211px;right: 55px;width: 300px;}
    .catagori_item {padding: 0;}
    .car_menu ul li a {font-size: 15px;width: 100%;}
    .car_area .table tr > th, .car_area .table tr > td {font-size: 14px;padding: 2px 15px;}
    .location_area .section_title > h2 { margin-bottom: 5px;}
    .address {padding: 30px 0;}
    .gabarito_item {padding: 15px 5px;}
    .slide_area {padding: 50px 0;}
    .slide_text_area > h2 { padding: 0;}
    .slide_text_area > p {margin-bottom: 40px;}


    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
        .slide_area {padding: 20px 0;}
    .slide_text_area > h2 {font-size: 32px;padding: 0;margin: 0;}
    .slide_text_area > p {font-size: 16px; margin-bottom: 20px;}
    .slide_text_area > a {width: 150px;}
    .logo > a { width: 175px;}
    .machin_area{padding: 30px 0;}
    .machin_img1 > a img {padding-right: 20px;padding-top: 20px;}
    .machin_img1 > p, .machin_text > p {font-size: 18px;letter-spacing: 0;margin: 10px 0;}
    .machin_img2{padding:0;}
    .product_area .section_title > h2{font-size: 22px}
    .product_area .section_title p { bottom: -25px;padding-right: 35px;}
    .product_menu{padding: 0;}
    .product_menu_1 p{font-size: 17px}
    .product_menu_1 p, .product_menu_1 ul {padding-left: 35%;}
    .product_menu ul li a{font-size: 17px;}
    .product_menu ul li a img {margin-bottom: 3px; margin-right: 2px;width: 20px;}
    .product_menu ul li{padding: 0;}
    .product_menu.product_menu_1 > a {bottom: -124px;right: 25px;width: 171px;}
    .product_area{padding:0;}
    .gallary_area{padding:24px 0;}
    .gallary_text > h2{font-size: 29px;margin: 0;}
    .gallary_item {margin-bottom: 20px;}
    .catagori_area{padding: 15px 0;}
    .catagori_item{margin-bottom: 20px;padding: 0 25px;}
    .catagori_item > a{height: 40px;width: 60px;}
    .catagori_item > h2 {font-size: 35px;letter-spacing: 0;margin: 0;}
    .catagori_item > p{line-height: 20px;}
    
    .section_title > h2{text-align: center;}
    .car_menu > ul {padding: 0 35px;}
    .car_menu ul li a{width: 90%;}
    .cat > img{display: none;}
    .car_area .section_bottom{padding: 0;}
    .car_area .section_bottom > h2{font-size: 22px;}
    .location_area{padding: 25px 0;}
    .location_area .section_title > h2 {font-size: 27px;margin-bottom: 5px;}
    .location_area .section_title > p {font-size: 18px;margin-bottom: 5px;}
    .address, .contact_area {padding: 35px 0;}
    .address > p {font-size: 18px;line-height: 20px;}
    .address > h2 {font-size: 30px;margin: 0;}
    .wed_address > p{font-size: 18px}
    .contract_form{margin: 0;}
    .gabarito_item {padding: 15px;width: 100%;}
    .gabarito_item > img {width: 45%;}
    .gabarito_item > p{margin: 0;}
    .footer_logo a{width: 100%;}
    .footer_menu {margin-top: 20px;}
    .footer_link > a {float: left;font-size: 16px;padding: 0 1px;}
    .footer_link {margin-top: 37px;}
    .footer_bottom_title > p {line-height: 18px;margin-top: 10px;font-size: 11px;}
    
            /* mobile menu */
    
    .navbar-header button {background: #fff none repeat scroll 0 0;margin: 5px;}
    .navbar-header button span { background: #000 none repeat scroll 0 0;}
    .mobil-menu-activted ul.nav.navbar-nav li {border-bottom: 1px solid #ddd;display: block;text-align: center;background: #000;opacity: .8;}
    .mobil-menu-activted ul.nav.navbar-nav li a{font-size: 20px}
    .main_menu {position: relative;width: 100%;}
    .machin_area{position: relative;}   
    .mobil-menu-activted .navbar-collapse {position: absolute;top: 34px;width: 100%;z-index: 9;}
    .phone-item {content: "";display: block;height: 100%;position: absolute;right:20px;top: 7px;width: 100%;z-index: 999;}
    .phone-item > h2{float: right; font-size: 22px}
    .navbar-toggle{float: none;}



}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
     .slide_text_area.aligncenter > h2 {font-size: 50px;margin-top: 30px;}
    .machin_img1 > p, .machin_text > p {font-size: 24px;}
    .product_area .section_title p {padding-right: 110px;}
    .product_menu_1 p, .product_menu_1 ul {padding-left: 35%;}
    .product_menu.product_menu_1 > a {bottom: -129px;right: 100px;width: 191px;}
    .catagori_item {margin-bottom: 20px;padding: 0 75px;}
    .contract_form {padding: 0 50px;}
    .footer_menu {margin-top: 57px;}
    .footer_link {margin-top: 72px;}
    .footer_link > a {font-size: 25px;padding: 0 4px;}
 
    
    
}