.navbar {
position: absolute;
top: 0;
left: 0;
padding-top: 20px;
/* background-color: #000000; */
font-family: Montserrat, Open Sans, Sans serif;
color: #ffffff;
text-align: right;
width: 100%;
}
.navbar ul {
text-align: right;
list-style: none;
display: inline-flex;
}

.navbar img {
position: absolute;
left: 30px;
top: 20px;
}

.navbar ul li {
margin-right: 20px;
}

#timer {
display: inline-flex;
}

#timer div {
flex: 1;
margin-right: 5px;
margin-left: 5px;
font-weight: 900;
}

.notation {
font-family: unset;
display: block;
font-weight: 900;
font-size: 16px;
font-family: Montserrat, Open Sans, Sans serif;

}

.buy-tokens {
margin-top: 25px;
cursor: pointer;
-webkit-border-radius: 9;
-moz-border-radius: 9;
border-radius: 9px;
-webkit-box-shadow: 0px 0px 30px #ff0000;
-moz-box-shadow: 0px 0px 30px #ff0000;
box-shadow: 0px 0px 30px #ff0000;
font-family: Montserrat, Open Sans, Sans serif;
color: #ffffff;
font-size: 22px;
background: #ff3300;
padding: 17px 40px 16px 40px;
text-decoration: none;
letter-spacing: 0;
font-weight: 900;
}

.buy-tokens:hover {
background: #ff5100;
text-decoration: none;
}

.small {
display: inline-flex;
font-size: 14px;
letter-spacing: 0;
}

.main {
    padding: 5px;
}
.whitepaper {
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.whitespace {
    min-height: 40px;
}

#invest-with {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background-color: #ff675b;
}

.invest-with span {
    border: 1px solid #ffffff;
    margin: 0 auto;
}