/*********   BASIC CSS   *************/
* {
    margin: 0;
    padding: 0;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
.text_center {
    text-align: center;
}
.fix {
    overflow: hidden;
}
html,
body {
    height: 100%;
}
body {
    color: #888;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88889;
}
a:hover,
a,
a:focuse {
    text-decoration: none;
    outline: none;
}
a:focus {
    outline: 0 solid;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
    height: auto;
}
.header_section {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
    padding: 25px 0 20px;
}

.main_section {
        cover;
    height: 600px;
    background-color: #17182f;
    position: relative;
    background-blend-mode: soft-light;
    padding-top: 125px;
    padding-bottom: 110px;
}

.logo_area a {
    display: block;
    overflow: hidden;
    width: 140px;
    padding: 0px;
    /* height: 82px; */
}
.logo_area {
    height: auto;
    overflow: hidden;
    display: inline-block;
    float: left;
    line-height: 4;
}
.top_area {
    display: block;
    overflow: hidden;
}
.main-menu {
    margin-top: 15px;
    position: relative;
}

/************    start manu      **************/

.main-menu ul {
    float: right;
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    transition: all 0.25s ease 0s;
}
.main-menu ul li a,
.main-menu ul li {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 1.2;
    position: relative;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.main-menu ul li a:hover,
.main-menu ul li:hover {
    color: #ff4b3c;
    outline: 0 none;
    text-decoration: none;
}
.main-menu ul li + li {
    margin-left: 14px;
}
.main-menu ul li a.menu-last {
    background: #ff675b;
    padding: 10px;
    color: #fff;
}
.main-menu ul li a.menu-last:hover {
    background: #ff4b3c;
    color: #fff;
}
.main-menu ul li#language-switcher {
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease 0s;
}

.main-menu ul li a img.country-flag {
    display: inline-block;
    height: 1em;
    margin-right: 5px;
    width: 1.5em;
}
.main-menu ul li img.country-flag {
    display: inline-block;
    height: 1em;
    margin-right: 5px;
    width: 1.5em;
}
.main-menu ul li > ul.language-switcher-list {
    display: block;
    left: -15px;
    padding: 0 0 5px 15px;
    position: absolute;
    text-align: left;
    top: calc(100% + 15px);
    display: none;
    margin-top: -10px;
}

.main-menu ul li > ul.language-switcher-list > li {
    margin: 0;
    font-size: 15px;
    line-height: 1.5 !important;
    display: block;
}
.main-menu ul li > ul.language-switcher-list a {
    white-space: nowrap;
    color: #ff675b;
}
.main-menu ul li > ul.language-switcher-list a:hover {
    color: #ff4b3c;
}
.is-sticky .header_section::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.sticky-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.is-sticky .header_section {
    padding: 10px 0;
}
.is-sticky .header_section .logo_area > a {
    padding-top: 20px;
    width: 140px;
    height: 71px;
}
.is-sticky .header_section .main-menu {
    margin-top: 19px;
}
.header_section::after,
.logo_area > a,
.header_section .main-menu {
    transition: 0.4s;
}

/************    end  manu      **************/

/************    start date_time_area      **************/
.date_count_area {
    height: 100%;
    margin-top: 30px;
    width: 100%;
}

.date-area > h3 {
    color: #fff;
    font-size: 41px;
    font-weight: 200;
    line-height: 1.25;
    margin: 0;
}
.timeTo.timeTo-black div {
    background: none;
}
.timeTo span {
    display: none;
}

.timeTo.timeTo-black {
    height: 100%;
}
figure {
    font-family: "Open Sans", sans-serif;
    font-size: 80px;
    font-weight: 100;
    padding: 0 10px;
}
.timeTo ul li {
    padding: 5px 0;
}
.timeTo figure {
    margin: 0 20px;
}
.timeTo figcaption {
    margin-top: 15px;
}
/************    end date_time_area      **************/
.midbutton-area {
    /* margin-top: 25px; */
}
.midbutton-area a {
    -moz-user-select: none;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.06em;
    line-height: 20px;
    overflow: hidden;
    padding: 19px 42px 17px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: all 250ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
    margin: 5px !important;
}
/* .first-btn {
    background: #ff675b;
    color: #fff;
    border: 1px solid #ff675b;
}
.first-btn:hover {
    background: #ff4b3c;
    border: 1px solid #ff4b3c;
    color: #fff;
} */
/* .second-btn {
    border: 1px solid #ff675b;
    color: #ff675b;
}
.second-btn:hover {
    border: 1px solid #ff4b3c;
    color: #ff4b3c;
} */

.count_area > h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 200;
    line-height: 1.25;
    margin-bottom: 0;
    margin: 30px 0;
}
.progress-cell {
    font-size: 1.2em;
    margin-top: 0;
    white-space: nowrap;
}
.progress-value {
    color: white;
    font-size: 1.4em;
}
.s-s-ethereum {
    background-position: -112px -96px;
    height: 16px;
    width: 14px;
}
.s-s-crypto {
    background-image: url("img/all_views_market-cap-by-circulating-supply_0.png");
    background-size: 174px 160px;
    display: inline-block;
    margin-left: -15px;
    margin-right: 5px;
}
.s-s-bitcoin {
    background-position: -158px -32px;
    height: 16px;
    width: 16px;
}
.s-s-litecoin {
    background-position: -64px -95px;
    height: 16px;
    width: 16px;
}
.purchase-instructions-list a span {
    position: relative;
    top: 3px;
}

.progressbar-area {
    margin-top: 20px;
}

.progressbar-item {
    margin: 20px;
    padding: 0 20px;
}
.text_right {
    color: #fff;
    width: 100%;
}

.progressbar {
    color: #fff;
    margin: 1px;
    padding: 4px 0;
}
.progressbar-list {
    border: 1px solid #ff675b;
    display: block;
    overflow: hidden;
}
.first_progress.progressbar {
    background: #ff675b none repeat scroll 0 0;
    float: left;
    width: 50%;
}
.second_progress.progressbar {
    background: #ff675b none repeat scroll 0 0;
    float: left;
    width: 47%;
}
.text_right span {
    display: block;
    text-align: right;
    width: 100%;
}
.text_right.first-text span {
    font-size: 12px;
}

/************    start investment_area      **************/

.investment_area {
    padding: 70px 0 30px;
}
.section_title > h3 {
    color: #000;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.25;
    margin: 0;
    text-align: center;
}

.investment_item_lebel {
    font-size: 11px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}
.investment_item_input input {
    border: 1px solid #aaa;
    font-size: 18px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    width: calc(100% - 40px);
}
.investment_item_sign {
    display: inline-block;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.investment_item_button {
    margin: 5px !important;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 22px;
    background-color: #ff675b;
    color: #fff;
    -moz-user-select: none;
    border: 1px solid #ff675b;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.06em;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.investment_item_lebel > span {
    display: block;
    height: 14px;
}

.investment_link {
    margin-top: 30px;
    text-align: center;
}
.investment_link a {
    font-size: 18px;
    font-weight: 300;
}

.midbutton-area .center-rules-button {
    margin: 25px auto !important;
    display: block;
    width: 265px;
}
/************    end investment_area      **************/

.purchase-instructions {
    background: #000000 none repeat scroll 0 0;
    /* box-shadow: 0 0 10px 0 inset; */
    padding: 30px 0;
}
.purchase-instructions h3 {
    color: white;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.25;
}

.button {
    -moz-user-select: none;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.06em;
    line-height: 20px;
    overflow: hidden;
    padding: 19px 42px 17px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: all 250ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
    margin: 5px !important;
    color: #fff;
}
.button.button-contribute:active,
.button.button-contribute:hover {
    color: #fff;
}

/************    start offering-terms_area        **************/

.offering-terms_area {
    background: #ffffff none repeat scroll 0 0;
    padding: 50px 0;
}
.offering-terms_area > h2 {
    color: #000;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.13333;
    text-align: center;
    margin: 0;
}
.offer_title h4 {
    color: #333;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 30px;
    line-height: 1.26667;
    margin: 0;
}
.row-marj {
    margin: 15px -15px;
}
.no-pad {
    padding: 0;
}

.offer_head h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: lowercase;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.offer_item {
    margin-bottom: 30px;
    padding: 0 10px;
}
.offer_item > ul {
    margin: 0;
}
.offer_item li {
    font-size: 15px;
    list-style-type: disc;
}

.offering_text p {
    border: 1px solid;
    font-size: 15px;
    font-weight: 300;
    padding: 5% 10%;
    text-align: center;
}
/************    end offering-terms_area        **************/

/************    start video_area       **************/

.video_area {
    padding: 30px 0;
    background: #333;
}
.video_area > h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
    padding: 30px 0 0;
    margin: 0;
    text-align: center;
}

/************   end video_area        **************/

/************    start  circle_area        **************/
.circle_area {
    padding: 70px 0;
    background: #ffffff;
}
.circle_text {
    text-align: center;
}
.circle_text > h3 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
}
.circle_list {
    text-align: center;
}
.circle_list ul {
    margin: 0;
    padding: 0;
}
.circle_list ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    color: #000;
    font-weight: 400;
}
.circle_list ul li span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-bottom: 3px;
}
.circle_list ul li span.development,
.circle_list ul li span.tokens {
    background: #4f81bd;
}
.circle_list ul li span.marketing {
    background: #c0504d;
}
.circle_list ul li span.legal,
.circle_list ul li span.team {
    background: #9bbb59;
}
.circle_list ul li span.contingency {
    background: #8064a2;
}
.circle_list ul li span.technology {
    background: #4bacc6;
}

#skills {
    position: relative;
}
.circle-item p {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.circle-item p.development {
    bottom: 100px;
    right: 175px;
}
.circle-item p.marketing {
    left: 130px;
    bottom: 195px;
}
.circle-item p.legal {
    left: 144px;
    top: 91px;
}
.circle-item p.contingency {
    left: 190px;
    top: 50px;
}
.circle-item p.technology {
    top: 25px;
    left: 245px;
}
.circle-item p.tokens {
    right: 170px;
    bottom: 100px;
}
.circle-item p.marketing2 {
    top: 95px;
    left: 150px;
}
.circle-item p.team {
    top: 40px;
    left: 220px;
}

tspan {
    display: none;
}
.highcharts-button-symbol {
    display: none;
}
.highcharts-legend {
    display: none;
}

.circle_text_list {
    padding: 0 80px;
}
.circle_text_list p {
    color: #444;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}
div#step5 {
    background: #ffffff;
}
/************   end circle_area        **************/

/************    start Contributing_area        **************/
.Contributing_area {
    padding: 50px 0;
    background: #ffffff;
}
.Contributing_area h3 {
    color: #000;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
    margin: 30px auto;
    text-align: center;
}
.Contributing_top_text,
.Contributing_bottom_text {
    text-align: center;
}
.Contributing_top_text p,
.Contributing_bottom_text p {
    font-weight: 200;
    font-size: 21px;
    line-height: 34px;
    color: #333;
    margin: 0;
}
.Contributing_list ul li {
    color: #000;
    padding: 4px 0;
}
.Contributing_list ul li a {
    color: #000;
    font-size: 18px;
    padding-left: 6px;
}
.Contributing_list ul li:hover a {
    text-decoration: underline;
    color: #ff4b3c;
}
.Contributing_list {
    padding: 25px 0;
}
/************    end Contributing_area        **************/

/************    start social_link_area        **************/

.social_link_area {
    background: #333 none repeat scroll 0 0;
    padding: 30px 0;
}

.social_link_area > h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    margin: 0;
}
.link-social {
    color: rgba(255, 255, 255, 1);
    margin: 0 20px;
    font-size: 40px;
}
.link-social:focus,
.link-social:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 25px #ff675b;
}

/************    end social_link_area        **************/

/************** .scroll-top    *********************/
.scroll-top a {
    background: #ff675b none repeat scroll 0 0;
    bottom: 15px;
    display: block;
    height: 50px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 50px;
    border-radius: 50%;
}
.scroll-top a:hover {
    background: #ff4b3c;
}
.scroll-top a i {
    color: #ffffff;
    font-size: 22px;
    line-height: 50px;
}

.position-left-11 {
    position: relative;
    left: 11%;
}

.error {
    display: block;
    padding: 0 14px;
    width: 400px;
    color: red;
}

#no-service {
    text-align: center;
}

#contribution-address {
    cursor: pointer;
}

#qrcode img {
    margin: 20px auto;
}

.first-btn, .second-btn {
    margin-top: 25px;
    cursor: pointer;
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 30px #ff0000 !important;
    -moz-box-shadow: 0px 0px 30px #ff0000 !important;
    box-shadow: 0px 0px 30px #ff0000 !important;
    font-family: Montserrat, Open Sans, Sans serif;
    color: #ffffff;
    font-size: 22px;
    background: #ff3300 !important;
    padding: 17px 40px 16px 40px;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 900;
    }

    .first-btn:hover, .second-btn:hover {
    background: #ff5100;
    text-decoration: none;
        color: #ffffff;
}

.gradient-title {
    /* display: table; */
          margin: 0 auto;
          font-family: Montserrat, Open Sans, Sans serif;
          font-weight: 400;
          font-size: 6em;
          background: linear-gradient(180deg, #5E6B79 0%, #C3C8CC 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          line-height: 200px;
        }
        #timer {
            display: inline-flex;
            background: linear-gradient(180deg, #5E6B79 0%, #C3C8CC 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 40px;

    }

    #timer div {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 900;
    }

    .notation {
    font-family: unset;
    display: block;
    font-weight: 900;
    font-size: 25px;
    font-family: Montserrat, Open Sans, Sans serif;

    }
    .wallet-link {
        display: inline-block;
        margin-left: 21px;
        border-left: 1px solid #ff3300;
        padding: 5px 5px 5px 15px;
        overflow: hidden;
        line-height: 4;
    }

    #savewalletaddr, #myPlkWallet, #checkwalletlink {
      display: none;
    }

    #btnSaveWalletAddress {
      background: transparent;
      color: #ff3300;
      border-left: 0px;
      border-radius: 0px 4px 4px 0px;
      margin-left: -4px;
      overflow: hidden;
      margin-top: 2px;
    }

    #inputSuccess4 {
      background: transparent;
      border-color: grey;
      border-right: 0px;
      border-radius: 4px 0px 0px 4px;
    }

    #myPlkWallet {
      text-align: center;
    }

    #myPlkWallet h2 {
      color: white;
      font-size: 18px;
    }

    #myPlkWallet h3 {
      color: #ff3300;
      font-size: 14px;
    }
